circle:hover {
  opacity: 0.9;
  cursor: pointer;
}

body {
  color: #fff;
}

.topleft {
  position: absolute;
  top: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.game {
  height: 100%;
  width: 100vw;
  display: flex;
  position:fixed;
  top:0;
  left:0;
}

.game svg {
  margin: 20px;
  width: 100%;
}

.game h1 {
  text-transform: uppercase;
  margin: 0;
}

.game .spielid {
  font-size: 12px;
}

.game .share {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

.game .share img {
  width: 40px;
}

.reset-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 0;
  background: #aaa;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media (pointer:none), (pointer:coarse) {
  .game .share {
    display: block;
  }
}

.selectionArrow {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(0,0)
  }
  50% {
    transform: translate(0,5px)
  }
  100% {
    transform: translate(0,0)
  }
}
