circle:hover {
  opacity: 0.9;
  cursor: pointer;
}

body {
  color: #fff;
}

.topleft {
  position: absolute;
  top: 0;
  margin-left: 10px;
  margin-top: 5px;
}

.game h1 {
  text-transform: uppercase;
  margin: 0;
}

.game .spielid {
  font-size: 12px;
}

.game .spielid a {
  color: white;
}

.game .share {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}

.game .share img {
  width: 40px;
}

.reset-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 0;
  background: #aaa;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media (pointer:none), (pointer:coarse) {
  .game .share {
    display: block;
  }
}

/* Extra Small Devices, .visible-xs-* */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .game .spielid {
    left: 20px;
    top: 50px;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {

}

/* Small Devices, .visible-sm-* */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Medium Devices, .visible-md-* */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large Devices, .visible-lg-* */
@media only screen and (min-width: 1200px) {

}
