.ribbon-container * {
  box-sizing: border-box;
}
.ribbon-container {
  height: 80px;
  margin: 40px 0 0 0;
  position: relative;
}

.ribbon-container.one > div {
  height: 50px;
}

.ribbon-container .main {
  background: #0fadc0;
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}
.ribbon-container .main h1 {
  margin: 0;
  text-align: center;
  padding: 0;
}

.ribbon-container .main > div {
  border: 1px dashed #fff;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
}

.ribbon-container .bk {
 background: #1199a9;
 position: absolute;
 width: 8%;
 top: 12px;
}

.ribbon-container .bk.l {
 left: 0;
}
.ribbon-container .bk.r {
 right: 0;
}

.ribbon-container .skew {
  position: absolute;
  background: #0c7582;
  width: 3%;
  top: 6px;
  z-index: 5;
}

.ribbon-container .skew.l {
  left: 5%;
  transform: skew(00deg,20deg);
}

.ribbon-container .skew.r {
  right: 5%;
  transform: skew(00deg,-20deg);
}

.ribbon-container .bk.l > div {
  left: -30px;
}

.ribbon-container .bk.r > div {
  right: -30px;
}

.ribbon-container .arrow {
  height: 25px !important;
  position: absolute;
  z-index: 2;
	width: 0;
	height: 0;
}

.ribbon-container .arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
	border-bottom: 25px solid transparent;
	border-right: 30px solid #1199a9;
}

.ribbon-container .arrow.bottom {
  top: 25px;
  border-top: 25px solid transparent;
	border-bottom:0px solid transparent;
	border-right: 30px solid #1199a9;
}

.ribbon-container .r .bottom {
  border-top: 25px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 30px solid #1199a9;
  border-right: none;
}

.ribbon-container .r .top {
  border-bottom: 25px solid transparent;
	border-top: 0px solid transparent;
	border-left: 30px solid #1199a9;
  border-right: none;
}

@media all and (max-width: 1020px) {
  .ribbon-container .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .ribbon-container .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .ribbon-container .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .ribbon-container .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .ribbon-container .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .ribbon-container .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
}
